html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.h1 {
  font-weight: bold;
  font-size: 47px;
  line-height: 1.36;
  color: #070707;
}
.header {
  border-bottom: 2px solid #828282;
  width: 60%;
  margin: auto;
}
.nav__list {
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 30px 0;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  font-size: 18px;
  line-height: 1.4;
  color: #828282;
  text-decoration: none;
  padding: 0 40px;
  margin: 0 15px;
}
.nav__link_active {
  color: #070707;
}
.nav__item:first-letter {
  text-transform: uppercase;
}
.introduce {
  width: 60%;
  margin: auto;
}
.name {
  font-size: 55px;
  font-family: "Open Sans", sans-serif;
}
.name_image {
  margin-bottom: 50px;
}
.aboutme {
  background-color: #f6f6f6;
  width: 100%;
  height: 350px;
}
.h2 {
  left: 40%;
  right: 36%;
  top: 10%;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  padding-top: 40px;
}
.pp {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 480px;
  left: 655px;
  position: relative;
}
.sec {
  width: 71%;
  margin: auto;
}
.skil {
  font-family: "Open Sans";
  padding-top: 20px;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
}
.prg {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.shp {
  position: relative;
  margin-right: 200px;
  left: 400px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.shp1 {
  margin-right: 200px;
  width: 10%;
}
.port {
  background-color: #f6f6f6;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
}
.fash {
  color: #070707;

  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
}
.imgCol {
  padding-top: 60px;
}
.psp {
  display: inline-block;
  width: 24%;
  margin: auto;
  text-align: center;
}

.psp2 {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.cont {
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  padding-top: 37px;
}
.conp {
  font-size: 24px;
  line-height: 25px;
  text-align: center;
}

.main {
  padding-top: 40px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  position: relative;
  display: block;
  width: 200px;
  height: 46px;
  border-radius: 55px;
  background-color: #070707;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.inst {
  margin-bottom: 50px;
  padding: 20px;
  display: block;
  margin: auto;
  text-align: center;
}
.last {
  text-align: center;
  color: #828282;
}
